<div id="wrapper">
  <div class="item">
    <img src="https://i.ytimg.com/vi/hY7m5jjJ9mM/hqdefault.jpg" alt="woops">
    <h3>Title</h3>
    <h4>$500.00</h4>
    <button [routerLink]="['edit',i.index]">More</button>
  </div>
  <div class="item">
    <img src="https://i.ytimg.com/vi/hY7m5jjJ9mM/hqdefault.jpg" alt="woops">
    <h3>Title</h3>
    <h4>$500.00</h4>
    <button [routerLink]="['edit',i.index]">More</button>
  </div>
  <div class="item">
    <img src="https://i.ytimg.com/vi/hY7m5jjJ9mM/hqdefault.jpg" alt="woops">
    <h3>Title</h3>
    <h4>$500.00</h4>
    <button [routerLink]="['edit',i.index]">More</button>
  </div>
  <div class="item">
    <img src="https://i.ytimg.com/vi/hY7m5jjJ9mM/hqdefault.jpg" alt="woops">
    <h3>Title</h3>
    <h4>$500.00</h4>
    <button [routerLink]="['edit',i.index]">More</button>
  </div>
  <div class="item">
    <img src="https://i.ytimg.com/vi/hY7m5jjJ9mM/hqdefault.jpg" alt="woops">
    <h3>Title</h3>
    <h4>$500.00</h4>
    <button [routerLink]="['edit',i.index]">More</button>
  </div>
  <div class="item">
    <img src="https://i.ytimg.com/vi/hY7m5jjJ9mM/hqdefault.jpg" alt="woops">
    <h3>Title</h3>
    <h4>$500.00</h4>
    <button [routerLink]="['edit',i.index]">More</button>
  </div>
  <div class="item">
    <img src="https://i.ytimg.com/vi/hY7m5jjJ9mM/hqdefault.jpg" alt="woops">
    <h3>Title</h3>
    <h4>$500.00</h4>
    <button [routerLink]="['edit',i.index]">More</button>
  </div>
  <div class="item">
    <img src="https://i.ytimg.com/vi/hY7m5jjJ9mM/hqdefault.jpg" alt="woops">
    <h3>Title</h3>
    <h4>$500.00</h4>
    <button [routerLink]="['edit',i.index]">More</button>
  </div>
</div>