<div id="wrapper">
  <div id="main">
      <h1>Welcome to this fake store</h1>
    <div id="features">
      <h3>Here's where we'd put some beautiful pictures of some products if we had any</h3>
    </div>
  </div>
  <div id="info">
    <p>And this is where we would display all the wonderful information about said products
      if they actually existed. seeing that they do not I'm just gonna keep ranting about 
      nothing to make it look like I actually put some time and effort into this when in reality
      I am just practicing my typing skills in order to code a little bit faster, but thank you 
      for understanding. I don't know what the probability of anybody actually reading this is 
      so I'm gonna call it quits on this.</p>
      <a [routerLink]="['/']">Check it out!</a>
  </div>
</div>